header{
    background-color: rgb(117, 117, 117);
    font-size: 50px;
    font-family: "Rubik Mono One", monospace;
    padding: 30px;
    border-bottom: 1px solid #adadad;
    text-align: center;
    text-shadow: 
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #777,
        1px 5px 1px #777,
        1px 6px 1px #777;
    transform: translateY(-3px);
    background: linear-gradient(
    to left,
    rgba(52, 65, 80, 0.5) 0%,
    rgba(42, 47, 73, 0.6) 50%,
    rgba(34, 37, 53, 0.7) 100%
);
}
body{
    background-color: #383852;
    margin: 0; 
    padding: 0;
}
aside form {
    
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 300px; 
    margin: 20px auto; 
    
}
aside form input{
    background-color: #c0c0c0;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #adadad;
}
aside form button{
    background-color: #a9c7b7;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #53866b;
}
.autorization{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #adadad;
    margin: 10% auto 0;
    border-radius: 50px;
    width: 20%;
    
    background: radial-gradient(
        circle at center,
        rgba(148, 147, 147, 0.3) 0%,
        rgba(133, 133, 133, 0.4) 50%,
        rgba(0, 0, 0, 0.7) 100%
    );

}
.logo{
  width: 70%;
  height: 70%;
  object-fit: cover; /* или contain */
}
body::before {
    content: "";
    background-image: url('../icons/back.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Полупрозрачность (0.5 = 50%) */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: 6% auto 0;
}

